body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}


/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-links li a:hover {
  color: #00adb5;
}

/* Footer styles */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  margin-top: 40px;
}
